bazel-*
.vs
coverage-report

# Mac files
.DS_Store

# VS Code
# See https://www.toptal.com/developers/gitignore/api/visualstudiocode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
*.code-workspace

# The Bzlmod lockfile is platform-dependent with Python and thus hard
# to keep up-to-date in CI. It still speeds up local development.
MODULE.bazel.lock
