name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    - name: Install bazelisk
      run: |
        mkdir -p "${GITHUB_WORKSPACE}/bin/"
        wget https://github.com/bazelbuild/bazelisk/releases/latest/download/bazelisk-linux-amd64 -O "${GITHUB_WORKSPACE}/bin/bazel"
        chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

    - name: Install clang-16
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo add-apt-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-16 main"
        sudo apt-get update
        sudo apt-get install -y clang-16 libc++-16-dev libc++abi-16-dev
        echo "/usr/lib/llvm-16/bin" >> $GITHUB_PATH

    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      with:
        limit-access-to-actor: true

    - name: Build (C++17)
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" build --config=clang //...

    - name: Test (C++17)
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" test --config=clang //...

    - name: Build (C++20)
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" build --config=clang --config=cpp20 //...

    - name: Test (C++20)
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" test --config=clang --config=cpp20 //...

    - name: Build (no bzlmod)
      run: |
        "${GITHUB_WORKSPACE}/bin/bazel" build --noenable_bzlmod --config=clang //...
